djangorestframework
markdown
django-filter
django-cors-headers
djoser
django-environ
geopy
geocoder
openai
channels
djangochannelsrestframework
daphne
channels_redis
firebase-admin
pyrebase
django-allauth
dj-rest-auth
